/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}
 * a{
    text-decoration: none;
}
html ,body{
    width:100%;
    height: 100%;
    /*Image only BG fallback*/
    // background: url('../img/1.jpg');
    /*background = gradient + image pattern combo*/
    // background:
    // linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)),
    // url('../img/1.jpg');
    overflow:auto;
}

body {
    font-family: montserrat, arial, verdana;
    // background-color: transparent;
}
/*form styles*/
.mdd{
    width:990px;
    min-height:640px;
     margin:0 auto;
}
.mddleft{
    width: 500px;
    margin-top: 20px;
    margin-left:10px;
    float: left;
}
.mddright{
    width: 475px;
    margin-top: 20px;
    float: left;
}
.suxian{
    width:1px;
    height:50%;
    margin-top:100px;
    float: left;
     background: -webkit-linear-gradient(top, rgba(234,199,135, 0.6) 0%, rgba( 233,233,216, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(234,199,135, 0.6) 0%, rgba( 233,233,216, 0.8) 100%);
}
.mddright img{
    width:240px;
    height:300px;
    display:inline-block;
    margin: 70px 50px;
}

#msform{
    width: 500px;
    margin:0 auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    // opacity: 0.6;
    border: 0 none;
    border-radius: 3px;
    // box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    // padding: 20px 30px;

    box-sizing: border-box;
    // width: 80%;
    // margin: 0 ;

    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: rgba(191,173,111, 0.6);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(191,173,111, 0.6);
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-left:-50px;
    // margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: rgba(191,173,111, 0.6);
    color: white;
}

/*rwd*/
.rwd3{
    width:500px;
    margin-top:15px;
    padding-left:70px;
}
.py{
    padding-left:50px !important; 
}
.logintit{
    font-size:18px;
    margin-left:100px;

    // text-align: center;
}
.logintit:before{
    display:inline-block;
    content:"";
    width:100px;
    height:0px;
    border: 1px solid rgba(191,173,111, 0.6);
     border-bottom:none;
    margin-right:10px;
    position:relative;
    top:-5px;
   
}
.logintit:after{
    display:inline-block;
    content:"";
    width:100px;
    height:0px;
    border:1px solid rgba(191,173,111, 0.6); 
    border-bottom:none;
    margin-left: 10px;
    position:relative;
    top:-5px;
}
.rwd3 span{
    /*display: inline-block;*/
    color:#000;
    font-size: 18px;
    background-color: #fff;
    border: 0px solid transparent !important;


    width: 100px;
    text-align: right;
    font-size: 1.3rem;
    font-weight: normal;

    display: inline-block;
    height: 48px;
    margin-right:10px;
    float: left;
    line-height: 39px;
}
.rwd3 input{
    width: 240px !important;
    height: 39px;
    padding: 5px;
    line-height: 39px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    margin:0;
    background-color:#fff;
}
.rwd3 select{
    position:relative;
    top:-3px;
    padding-top:0;
    width: 240px !important;
    height:40px;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid #ccc ;
     // opacity:0.6;
}
.rwd3 select option{
     font-size: 14px;
    color:#000 ;
    background-color:#fff ;
    border: 0px solid transparent ;
    // opacity:0.6;
}
.xx input{
    display: inline;
     width: 13px;
     height: 20px;
}
.xx span{
    /*display: inline-block;*/
    color:#000;
    font-size: 20px;
    background-color: #fff;
    border: 0px solid transparent !important;
}
.pic1{
    text-align: center;
    width:200px;
    height:158px;
    margin-left:20px;
    border:1px dashed #E2A600;
}
.pic1 input{
    display:none;
    height:30px;
    border: 0px solid transparent !important;
}
.pic1 button{
    margin-top:20px;
    width:55px;
    height:55px;
    border-radius: 50%;
}
.pic p{
    line-height: 158px;
}
.jbxx1 input{
    width: 13px !important;
    height:13px !important;
    // line-height: 24px;
    // font-size: 20px;
}
.jbxx1 span{
    padding-right: 12px;
     font-size: 1.3rem;
}
.jbxx1{
    text-indent: 80px;
    margin:10px 0 10px 34px;
}
.jbxx2 input{
    width: 13px !important;
    height:13px !important;
    // line-height: 24px;
    // font-size: 20px;
}
.jbxx2 span{
    padding-right: 14px;
     font-size: 1.3rem;
}
.jbxx2{
    text-indent: 53px;
    margin:10px 0 10px 34px;
}
.kj{
    width: 500px;
    text-align: left;
    margin:0 auto;
}

